In [3]:
import pandas as pd
import numpy as np

In [4]:
df= pd.read_csv('./data/gemstone.csv')

In [5]:
df.drop(labels= ['id'], axis= 'columns', inplace= True)

In [6]:
df

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [7]:
x = df.drop(labels= ['price'], axis= 1)

In [8]:
y = df['price']

In [9]:
x

        carat        cut color clarity  depth  table     x     y     z
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48

[193573 rows x 9 columns]

In [10]:
y

0         13619
1         13387
2          2772
3           666
4         14453
          ...
193568     1130
193569     2874
193570     3036
193571      681
193572     2258
Name: price, Length: 193573, dtype: int64

In [11]:
categorical_columns = x.select_dtypes(include= 'object').columns

In [12]:
numerical_columns = x.select_dtypes(exclude= 'object').columns

In [13]:
x.select_dtypes(include= 'object')

              cut color clarity
0         Premium     F     VS2
1       Very Good     J     SI2
2           Ideal     G     VS1
3           Ideal     G     VS1
4         Premium     G     VS2
...           ...   ...     ...
193568      Ideal     D    VVS2
193569    Premium     G    VVS2
193570  Very Good     F     SI1
193571  Very Good     D     SI1
193572       Good     E     SI2

[193573 rows x 3 columns]

In [14]:
color_catogaries = ['F', 'J', 'G', 'E', 'D', 'H', 'I']
cut_catogaries = ['Premium', 'Very Good', 'Ideal', 'Good', 'Fair']
clarity_catogaries = ['VS2', 'SI2', 'VS1', 'SI1', 'IF', 'VVS2', 'VVS1', 'I1']

In [15]:
from sklearn.impute import SimpleImputer # to handle missing values
from sklearn.preprocessing import StandardScaler # to handle feature scaling
from sklearn.preprocessing import OrdinalEncoder # ordinal encoding
## pipelines
from sklearn.pipeline import Pipeline # all the feature engineering step in sequence
from sklearn.compose import ColumnTransformer  # create the object of this and pass pipeline

In [16]:
num_pipeline= Pipeline(

    steps=[

        ('imputer',SimpleImputer()),
        ('Scaler', StandardScaler())

    ]
)

In [17]:
cat_pipeline= Pipeline(

    steps=[

        ('imputer', SimpleImputer(strategy= 'most_frequent')),
        ('ordinalencoder', OrdinalEncoder(categories=[cut_catogaries,color_catogaries,clarity_catogaries]))

    ]
)

In [18]:
preprocessor= ColumnTransformer(

    [
        ('num_pipeline',num_pipeline,numerical_columns),
        ('cat_pipeline',cat_pipeline,categorical_columns)
    ]
)

In [19]:
# Train_test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(x,y,test_size=0.30,random_state=30)

In [20]:
preprocessor.fit_transform(X_train) # transformer object

array([[-0.97543926, -0.84960654, -0.12153081, ...,  2.        ,
         6.        ,  5.        ],
       [ 0.2351953 ,  1.83363716, -0.12153081, ...,  3.        ,
         3.        ,  3.        ],
       [ 0.49461699,  0.81585507,  0.39980029, ...,  0.        ,
         2.        ,  2.        ],
       ...,
       [ 0.45138004,  1.55606023, -0.6428619 , ...,  3.        ,
         2.        ,  3.        ],
       [ 0.66756478, -1.77486298,  1.44246248, ...,  2.        ,
         2.        ,  2.        ],
       [ 0.25681377,  0.81585507, -0.12153081, ...,  2.        ,
         2.        ,  3.        ]])

In [29]:
preprocessor.transform(X_train)

array([[-0.97543926, -0.84960654, -0.12153081, ...,  2.        ,
         6.        ,  5.        ],
       [ 0.2351953 ,  1.83363716, -0.12153081, ...,  3.        ,
         3.        ,  3.        ],
       [ 0.49461699,  0.81585507,  0.39980029, ...,  0.        ,
         2.        ,  2.        ],
       ...,
       [ 0.45138004,  1.55606023, -0.6428619 , ...,  3.        ,
         2.        ,  3.        ],
       [ 0.66756478, -1.77486298,  1.44246248, ...,  2.        ,
         2.        ,  2.        ],
       [ 0.25681377,  0.81585507, -0.12153081, ...,  2.        ,
         2.        ,  3.        ]])

In [33]:
preprocessor.get_feature_names_out()

array(['num_pipeline__carat', 'num_pipeline__depth',
       'num_pipeline__table', 'num_pipeline__x', 'num_pipeline__y',
       'num_pipeline__z', 'cat_pipeline__cut', 'cat_pipeline__color',
       'cat_pipeline__clarity'], dtype=object)

In [36]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train), columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test), columns=preprocessor.get_feature_names_out())

In [40]:
len(X_train)

135501

In [42]:
len(X_test)

58072

In [50]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [63]:
import numpy as np
def evaluate_model(true, predicted):
    mae=mean_absolute_error(true, predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_square=r2_score(true,predicted)
    return mae, rmse, r2_square

In [65]:
# Train multiple models
models= {
    'LinearRegression': LinearRegression(),
    'Ridge': Ridge(),
    'Lasso': Lasso(),
    'ElasticNet': ElasticNet()
}

trained_model_list= []
model_list= []
r2_list= []

for i in range(len(list(models))):
    model= list(models.values())[i]
    model.fit(X_train,y_train)

    # make predictions
    y_pred = model.predict(X_test)
    mae, rmse, r2_square = evaluate_model(y_test, y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('model training performance:')
    print('RMSE',rmse)
    print('MSE',mae)
    print('r2 score', r2_square*100)

    r2_list.append(r2_square)

    print('='*35)
    print('\n')

LinearRegression
model training performance:
RMSE 1198.8293111469354
MSE 726.0528982162504
r2 score 91.17706806392405
===================================


Ridge
model training performance:
RMSE 1198.830507701042
MSE 726.0819590791206
r2 score 91.1770504515407
===================================


Lasso
model training performance:
RMSE 1198.713796345963
MSE 727.5667075725913
r2 score 91.17876827281106
===================================


ElasticNet
model training performance:
RMSE 1629.5349717231074
MSE 1133.4879105147706
r2 score 83.69857410695968
===================================